strong{
    font-size: 3rem;

}

img, strong{
    cursor: pointer;
}

.container-flex {
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f7f9;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400; 
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-signin{
    background-color:  #ff0b7f;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 10px 30px 10px 30px;
}
.btn-signin:hover{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}
.btn-signin:not(:hover){
    transform: translate(0px, 0px);
    transition: all 0.3s ease-in-out;
}

