
<div class="row col-left ">
    <div class="col-1 col-lg-2 d-none d-lg-block">
            <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-11 col-lg-10">
        <div class="row ">
                <app-navbar></app-navbar>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <app-cards></app-cards>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <app-balance></app-balance>
                    </div>
                    <div class="col-12 col-lg-6">
                        <app-charts-graph></app-charts-graph>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-12 ">
                            <app-table></app-table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

